################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.gitattributes
.vs/
bin/
obj/
/EmployeesApp.Web/obj/Debug/net9.0/EmployeesApp.Web.AssemblyInfo.cs
/EmployeesApp.Web/obj/Debug/net9.0/EmployeesApp.Web.AssemblyInfoInputs.cache
/EmployeesApp.Web/obj/Debug/net9.0/EmployeesApp.Web.assets.cache
/EmployeesApp.Web/obj/Debug/net9.0/EmployeesApp.Web.GeneratedMSBuildEditorConfig.editorconfig
