
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
    <a asp-controller="employees" asp-action="index">Index</a>
    <a asp-controller="employees" asp-action="create">Create</a>

    <h1>@ViewBag.Title</h1>
    
    <div>
        @RenderBody()
    </div>
    <partial name="_TimeBox" />
    <footer>
        ©Grupp 9
    </footer>
    
    @RenderSection("scripts", false)
</body>
</html>
